---
import Layout from "../../../layouts/Layout.astro";
import { Header } from "../../../components/react/Header";
import { Footer } from "../../../components/react/Footer";
import { SpeciesDetailClient } from "../../../components/react/SpeciesDetailClient";
import { translations, LANGUAGES } from "../../../i18n/data";
import logoIiap from "../../../assets/logo_iiap.png";

export const prerender = false;


const lang = Astro.params.lang || 'es';
const id = Astro.params.id;
const content = translations[lang as keyof typeof translations];

if (!content) {
    return Astro.redirect("/es/");
}
---

<Layout title={content.nav.library} lang={lang}>
    <Header
        client:only="react"
        content={content.nav}
        logoSrc={logoIiap.src}
        lang={lang}
    />

    <div class="min-h-screen">
        <SpeciesDetailClient client:only="react" id={id!} lang={lang} />
    </div>

    <Footer content={content.footer} logoSrc={logoIiap.src} />
</Layout>
